.container {
  width: 66%;
  margin-left: auto;
  margin-right: auto; }
  .container__row {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .container__col {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .container__col_4 {
      -webkit-flex-basis: 33.33333333%;
          -ms-flex-preferred-size: 33.33333333%;
              flex-basis: 33.33333333%; }
    .container__col_6 {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
    .container__col_12 {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
    .container__col_left {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-right: var(--half-gutter-width, 1rem); }
    .container__col_right {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: var(--half-gutter-width, 1rem); }

main > * {
  padding: 10vh 0; }

@media screen and (max-width: 600px) {
  .container {
    width: 85%; }
    .container__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .container__col {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .container__col_4 {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
      .container__col_6 {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; }
      .container__col_12 {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #FFF;
  -webkit-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.5); }
  .navigation a {
    display: block;
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    color: #414956; }
    .navigation a:hover {
      background-color: #cdcdce; }
  .navigation__container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 1000px) {
  .navigation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .section__header {
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 3rem;
    text-align: center; }

.header {
  height: 60vh;
  position: relative; }
  .header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/32.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    opacity: 0.5;
    position: absolute;
    z-index: -1; }

.about__img {
  float: left;
  margin: 1rem;
  height: 200px; }

.privilege {
  position: relative;
  height: 40vh;
  color: #fff;
  background-image: url("../img/Collector_khabarovsk1_01_1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed; }
  .privilege__container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0; }
  .privilege__icon {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
    background-color: #FFF;
    -webkit-border-radius: 400px;
            border-radius: 400px; }
  .privilege__description {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center; }

.team-members {
  color: #fff;
  background-image: url("../img/Collector_khabarovsk1_01_1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed; }
  .team-members__header {
    margin-top: 0;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2.025px;
    line-height: 34px;
    text-align: center; }
  .team-members__description {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    text-align: center; }
  .team-members__teammeiters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .team-members__teammeiter {
    margin-top: 90px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 150px;
    height: 215px; }
  .team-members__pict {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .team-members__name {
    font-family: 'SourceSansPro';
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center; }
  .team-members__position {
    display: block;
    font-size: 15px;
    line-height: 2.267;
    text-align: center; }

.chess-gallery__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .chess-gallery__item > * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 50%; }
  .chess-gallery__item:nth-child(n) :nth-child(1) {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .chess-gallery__item:nth-child(n) :nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media screen and (min-width: 600px) {
  .chess-gallery__item:nth-child(2n) :nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; } }

.form {
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
  .form__field {
    display: block;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 1rem; }
  .form textarea {
    height: 5rem; }

.button {
  display: block;
  height: 2rem;
  border: none;
  background-color: #94b3d8;
  color: white; }

@media screen and (max-width: 1200px) {
  .form {
    width: 100%; } }

.socials__list {
  padding: 0; }
  .socials__list li {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    display: inline-block; }

.our-contacts__list {
  padding: 0; }
  .our-contacts__list li {
    display: block;
    margin: 0.5rem 0;
    line-height: 1.5; }

.footer {
  padding: 1rem 0 1rem 0;
  background-color: #414956;
  color: white; }
  .footer__container > * {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .footer a {
    color: #fff;
    text-decoration: none; }

.fa {
  margin-right: 0.5rem; }
