.chess-gallery
    &__item
        display: flex
        &>*
            box-sizing: border-box
            max-width: 50%
        &:nth-child(n)
            & :nth-child(1)
                display: block
                margin-left: auto
                margin-right: auto
            & :nth-child(2)
                display: flex
                flex-direction: column
                justify-content: center

@media screen and (min-width: 600px) 
    .chess-gallery
        &__item
            &:nth-child(2n)
                & :nth-child(1)
                    order: 2
